<%= render :partial => '/mc_menu/contentHeader' %>

<% if @totalIssues > 0  %>
  <%= render :partial => 'index' %>
<% end %>

<%= render :partial => '/mc_menu/mcmenu' %>

<div class="central_charts">
  <% if @totalIssues > 0  %>
        <h2><%= t :categories_issue_label_title %></h2>
        <div id="categoryStackedColumn" class="central_chart"></div>
 </div>
 <div class="central_filters"><%= form_tag '#', :method => :get, :id => 'filter_form' do %>
            <%= hidden_field_tag :page, @page %>
            <%= hidden_field_tag :filter_form_action, "", :id => "filter_form_action" %>
            <div id="query_form_content">
              <fieldset id="filters" class="collapsible">
                <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
                <div>
                  <%= render :partial => 'filters' %>
                </div>
              </fieldset>
              <p class="buttons">
                <%= submit_tag l(:button_apply), :class => 'button-small', :onclick => "$('filter_form_action').value = ''; $('page') = '1'; $('filter_form').submit(); return false;" %>
                <%= link_to l(:button_clear), {}, :class => 'icon icon-reload' %>
              </p>
            </div>
        <% end %>
 </div>
 <div class="central_charts">
            <h2><%=t :statuses_issue_label_title %> - <%=  @all_project_issues.count %> <%=t :tasks_label%>, <%= @overdueissues.count %> <%=t :overdue_text%></h2>
            <div id="container" class="double_chart"></div>
            <div id="containerColumn" class="double_chart"></div>
        </div>
<div>
      <p id="notice"><%= notice %></p>
  <% else %>
      <div id="errorExplanation"><%=t :time_mgmt_error_no_issues_found_text %></div>
  <%end%>
</div>